* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.bloc1 ul {
    display: flex;
    align-items: center;
    padding: 30px;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid black;
    position: relative;
    
}
.bloc1 ul li a {
    text-decoration: none;
    margin: 50px;
}
.content {
    margin-top: 10px;
    position: absolute;
}
.bloc1::after {
    content: "";
    display: block;
    background: blue;
    transform: scale(0);
}